*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    max-width: 100%;
}

body{
    background-image: url(img/background.png);
    background-size: 101vw 120vh;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#container{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

#topo{
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 22%;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#logo-barca{
    width: 3vw;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#logo-barca img{
    display: flex;
    width: 3vw;
}


#text-barca{
    width: 14vw;
    font-size: 2vw;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
}

#menu-topo{
    width: 50%;
    height: 100%;
    padding: 0.5vh;
    display: flex;
    justify-content: space-between;
}

.botao-menu{
    width: 18%;
    height: 80%;
    transform: skewx(350deg);
    background: #cd122d;
    transform-origin: bottom left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 1vw;
}

.botao-menu:hover{
    border: none;
    border-bottom: 0.1px solid #fdc52c;
    background: linear-gradient(90deg,#154184d0,#cd122ead);
    transition: 0.5s;
    cursor: pointer;
}

#conteudo{
    width: 100vw;
    height: 85vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#img-conteudo{
    display: flex;
    align-items: end;
    justify-content: flex-start;
    position: relative;
    left: 0px;
}

#img-conteudo img{
    display: flex;
    position: relative;
    width: 66vw;
    max-width: unset;
}

#text-conteudo{
    display: flex;
    width: 80vw;
    height: 25vh;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    text-transform: uppercase;
    position: relative;
    right: 20vw;

}

#container-texto{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    max-height: 100%;
    width: 28vw;

}

#titulo-text-conteudo{
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    color: #deb405;
}

#welcome-text-conteudo{
    display: flex;
    font-size: 1.1vw;
    line-height: 3vw;  
    color: #ffffff;
    text-align: right;
}

#container-img{
    width: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-img img{
    display: flex;
    max-height: 80%;
}